form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input {
    margin: 0 10px;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    padding: 0 20px;
    border: none;
    font-style: italic;
}

button {
    height: 40px;
    border-radius: 3px;
    padding: 5px 20px;
    background-color: rgb(20, 182, 69);
    border: none;
    color: white;
    transition: background-color .2s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: rgb(71, 209, 113);
}