form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input {
    margin: 0 10px;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    padding: 0 20px;
    border: none;
    font-style: italic;
}

button {
    height: 40px;
    border-radius: 3px;
    padding: 5px 20px;
    background-color: rgb(66, 179, 99);
    border: none;
    color: white;
}